<div class="jumbotron" style="margin-bottom: 0px;">

    <h1 class="display-4">Account page</h1>

    <div class="form-group">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">User data: </h5>
              <p class="card-text">Email {{ email }}</p>

              <label for='old'>Enter your current password</label>
              <input id='old' type="text" class="form-control" #p placeholder="Old password" #oldPassword>

              <hr><br>

              <input type="text" class="form-control" #p placeholder="qwerty">
              <button class='btn btn-primary' (click)='changePassword(p, oldPassword)'>Change password</button>
              <input type="text" class="form-control" #e placeholder="qwerty@qwerty.com">
              <button class='btn btn-primary' (click)='changeEmail(e, oldPassword)'>Change email-address</button>
              <button class='btn btn-primary' (click)='deleteAccount()'>Delete account</button>
            </div>
          </div>
    </div>
</div>    