<mat-card class="example-card" routerLink='details/{{keyCode.key}}'>
    <mat-card-header>

            <button *ngIf='this.http.admin' (click)='delete(keyCode)' mat-mini-fab><i class="material-icons">clear</i></button>
      <mat-card-title>Author name: {{ author }}</mat-card-title>
      <mat-card-subtitle>{{ title }}</mat-card-subtitle>

     
    </mat-card-header>

    <h5 style='color: red;'>{{ type }}</h5>

    <mat-card-content>
      <p>
        {{ description }}
      </p>
    </mat-card-content>

    <p>Viable to {{ date | date }}</p>
  </mat-card>