<div class="jumbotron" style="margin-bottom: 0px;">

    <h1 *ngIf='signUp' class="display-4">Sign up</h1>
    <h1 *ngIf='!signUp' class="display-4">Sign in</h1>

    <div class="checkbox">
      <label><input (click)='toggle()' type="checkbox">Toggle signing</label>
    </div>


    <form #registerForm="ngForm" (ngSubmit)='register(registerForm.value)' novalidate>            
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" pattern='^\S+@\S+$' required class="form-control" [class.is-invalid]='(email.invalid) && email.touched' #email='ngModel' aria-describedby="emailHelp" placeholder="Enter email" name='email' ngModel>
              <small class="form-text text-danger" *ngIf='email.value === "" && email.touched'>Email field is required</small>
              <small class="form-text text-danger" *ngIf='email.invalid && email.touched'>Wrong email address</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" required #password='ngModel' [class.is-invalid]='((password.value && password.value.length < 6) || password.invalid) && password.touched' class="form-control" placeholder="Password" name='password' ngModel>
              <small class="form-text text-danger" *ngIf='password.invalid && password.touched'>Password field is required</small>
              <small class="form-text text-danger" *ngIf='(password.value && password.value.length < 6) && password.touched'>Password field needs to be at least 6 symbols!</small>
            </div>
            <button type="submit" [class.disabled]='registerForm.form.invalid' [disabled]='createForm.form.invalid' class="btn btn-primary" style="margin-left: 5%;margin-top:2.5%;">Submit</button>
          </form> 
</div>