@import "~bootstrap/dist/css/bootstrap.min.css";

.cont1{
    background-color: #161E2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button{
        border: 0;
        margin-top: 5%;
    }
    h2{
        font-size: 4rem;
        color: white;
    }   
    .create{
        background-color: #7E6EE6;
        color: white;
        padding: 10px;
        font-weight: 800;
        margin: 5%;
        font-size: 1.2rem;
    }
}
.cont{

    form{
        margin: 5%;
        box-shadow: 0 0 20px 2px grey;
        height: fit-content;
        top: 0;
        position: sticky;
        padding-top: 1%;
        border-radius: 5px;

        select[multiple]{
            height: 73px;
        }
    }

    h2{
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.5rem;
        width: max-content;
        margin: 5% 0 5% 25%;
    }
    ul{
        list-style-type:none;
        width: max-content;
    }
}


//spinner

.loader {
    margin-left: 30%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




  .overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay-show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }